@(numberOfGames: Integer)

@main("Login"){
        <div class="pt5 middle" style="width: 140px">
            <form method="get" action="/main@numberOfGames">
                <button class="btn" type="submit">Neues Spiel starten</button>
            </form>
        </div>
    @for(j <- 0 until numberOfGames) {
        <div class="pt2 middle" style="width: 60px">
            <form method="get" action="/main@j">
                <button class="btn" type="submit">Spiel @j</button>
            </form>
        </div>
    }
}